<section class="about">
  <div class="container about__container">
    <h2 class="main-subtitle main-subtitle--light">О студии</h2>
    <ul class="about__list list-reset">
      <li>
        <p class="about-descr">
          В рамках спецификации современных стандартов, интерактивные прототипы,
          инициированные исключительно синтетически, ограничены исключительно
          образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует от нас
          анализа соответствующих условий активизации! Следует отметить, что
          семантический разбор внешних противодействий фиксирует необходимость
          распределения внутренних резервов и ресурсов. Безусловно, граница
          обучения кадров предоставляет широкие возможности для первоочередных
          требований. Повседневная практика показывает, что глубокий уровень
          погружения предполагает независимые способы реализации новых принципов
          формирования материально-технической и кадровой базы. Приятно,
          граждане, наблюдать, как явные признаки институционализации являются
          только методом политического участия и нарушающими общечеловеческие
          нормы этики.
        </p>
      </li>
      <li>
        <div class="about-photo"></div>
        <form action="#" id="form" class="subscribe-form">
          <div class="subscribe-form__content">
            <label class="subscribe-form__field form-field">
              <span class="form-field__caption">Подписаться на рассылку</span>
              <input
                class="form-field__input"
                type="email"
                placeholder="E-mail"
                id="email"
              />
              <small>Error message</small>
            </label>
            <button class="btn-reset btn btn--fill" type="submit">
              Отправить
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</section>
