<header class="header">
  <div class="container header__container">
    <img src="img/logo.svg" class="logo" alt="High pass лого" />
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="" class="nav__link">О студии</a></li>
        <li class="nav__item"><a href="" class="nav__link">Наши проекты</a></li>
        <li class="nav__item"><a href="" class="nav__link">Услуги</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__social">
      <a href="#" class="social social--insta">
        <svg width="30" height="30" viewBox="0 0 30 30">
          <use xlink:href="img/sprite.svg#insta"></use>
        </svg>
      </a>
      <a href="#" class="social social--fb">
        <svg width="30" height="30" viewBox="0 0 30 30">
          <use xlink:href="img/sprite.svg#fb"></use>
        </svg>
      </a>
      <a href="#" class="social social--vk">
        <svg width="30" height="30" viewBox="0 0 30 30">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
    </div>
    <div class="header__search">
      <a href="#" class="social">
        <svg class="search-icon" width="25" height="25" viewBox="0 0 25 25">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
