<section class="hero">
  <div class="container hero__container">
    <ul class="hero__list list-reset">
      <li class="hero__item hero__item-left">
        <p class="hashtag hashtag--hero">#мастеркласс</p>
        <p class="hero-descr">Мастер-класс от Игоря Робова</p>
        <h1 class="main-title">Неоновый фотосет 2.0 7 июля 20:00</h1>
        <button class="btn-reset btn btn--fill">Узнать больше</button>
      </li>
      <li class="hero__item">
        <h2 class="main-subtitle main-subtitle--dark">
          Работы участников предыдущего мастер-класса
        </h2>
        <ul class="item-hero__list list-reset">
          <li class="right-item right-item--1"></li>
          <li class="right-item right-item--2"></li>
          <li class="right-item right-item--3"></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
