<div class="small-nav">
  <div class="container small-nav__container">
    <nav class="nav small-tablet__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="" class="nav__link">О студии</a></li>
        <li class="nav__item"><a href="" class="nav__link">Наши проекты</a></li>
        <li class="nav__item"><a href="" class="nav__link">Услуги</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <nav class="nav nav__mobile">
      <ul class="nav__list nav__list--mobile list-reset">
        <li class="nav__item"><a href="" class="nav__link">О студии</a></li>
        <li class="nav__item"><a href="" class="nav__link">Наши проекты</a></li>
        <li class="nav__item"><a href="" class="nav__link">Услуги</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Мастер-классы</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <button class="btn-reset burger">
      <span class="burger__line"></span>
    </button>
  </div>
</div>
