<section class="work">
  <div class="container work__container">
    <h2 class="main-subtitle main-subtitle--dark">Наши проекты</h2>
    <ul class="work__list list-reset">
      <li class="work__item work__item-small work__item-small--1">
        <p class="hashtag hashtag--work">#пейзаж</p>
        <p class="work__item-descr work__item-descr--small">
          Синтетически, смешаны с не уникальными данными до степени...
        </p>
        <span class="work__item-date work__item-date--gray">16 июня</span>
      </li>
      <li class="work__item work__item-small work__item-small--2">
        <p class="hashtag hashtag--work">#портрет</p>
        <p class="work__item-descr work__item-descr--small">
          В своём стремлении улучшить опыт мы упускаем, что ...
        </p>
        <span class="work__item-date work__item-date--gray">28 мая</span>
      </li>
      <li class="work__item work__item-small work__item-small--3">
        <p class="hashtag hashtag--work">#предмет</p>
        <p class="work__item-descr work__item-descr--small">
          Равным образом, высокое качество позиционных...
        </p>
        <span class="work__item-date work__item-date--gray">14 мая</span>
      </li>
      <li class="work__item work__item-big work__item-big--1">
        <p class="hashtag hashtag--work">#fuji</p>
        <span class="work__item-date work__item-date--light">9 апреля</span>
        <h3 class="work-subtitle">Cемантический разбор</h3>
        <p class="work__item-descr work__item-descr--light">
          В рамках спецификации современных стандартов, интерактивные прототипы
        </p>
        <button class="btn btn-reset btn--stroke">О проекте</button>
      </li>
      <li class="work__item work__item-big work__item-big--2">
        <p class="hashtag hashtag--work">#проектзабвение</p>
        <span class="work__item-date work__item-date--light">20 марта</span>
        <h3 class="work-subtitle">Забвение</h3>
        <p class="work__item-descr work__item-descr--light btn-margin">
          Играет важную роль в формировании глубокомысленных рассуждений
        </p>
        <button class="btn btn-reset btn--stroke">О проекте</button>
      </li>
      <li class="work__item work__item-medium work__item-medium--1">
        <p class="hashtag hashtag--work">#ретушь</p>
        <p class="work__item-descr work__item-descr--small">
          Как принято считать, многие известные личности и по сей день остаются
          уделом либералов...
        </p>
        <span class="work__item-date work__item-date--gray">9 марта</span>
      </li>
      <li class="work__item work__item-medium work__item-medium--2">
        <p class="hashtag hashtag--work">#портрет</p>
        <p class="work__item-descr work__item-descr--small">
          С учётом сложившейся международной обстановки, новая модель
          организационной...
        </p>
        <span class="work__item-date work__item-date--gray">1 марта</span>
      </li>
    </ul>
  </div>
</section>
